.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.margin_top_20 {
  margin-top: 100px;
}

.search_input {
  width: 567px;
  height: 44px;
  border-radius: 10px;
  margin-top: 30px;
}

.ways {
  display: flex;
  width: 567px;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

.ways :hover {
  background-color: #cccccc;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 100%;
  background-color: #eaeaea;
  margin-left: 23px;
}

.center :hover {
  background-color: #eaeaea;
}

.ways .way {
  width: 110px;
  height: 110px;
  padding: 10px;
}

.pointer {
  cursor: pointer;
}
.more{
  float: right;
}
.text_hidden {
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.image_center{
  display: flex;
  justify-content: center;
}